@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Lato:wght@700&display=swap"); 

:root { 
    --fonte-titulo: "Lato", sans-serif; 
    --fonte-texto: "Kalam", cursive; 
   
    --cor-principal: #112D4E; 
    --cor-secundaria: #3F72AF; 
    --cor-tercearia: #DBE2EF; 
    
    --cor-fonte: #F9F7F7; 
    --cor-preto: #000000; 
    --cor-fundo: linear-gradient(to bottom, var(--cor-secundaria), 70%, var(--cor-principal)); 
}

*{ 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    text-decoration: none; 
} 

body { 
    background: var(--cor-fundo); 
    color: var(--cor-fonte);
    display: flex; 
} 

/*-----------------------------------*/
/* Lateral                           */
/*-----------------------------------*/

.lateral {
    /* width: 15%; */
    height: 100vh;
    /* color: var(--cor-fonte); */
    text-align: center;
    position: fixed;
    background-color: var(--cor-principal);
}

.logo{
    margin: 15px 5px;
    padding: 5px 0px;
    border-radius: 50%;
    width: 95%;
}

/* .lateral h1{
    color: var(--cor-fonte);
    font-size: 2.5rem;  
} */

.lateral h3{
    color: var(--cor-fonte);
    font-size: 1.5rem;
    /* height: 10vh; */
}   

hr {
    margin: 10px;
    border-top: 3px solid var(--cor-fonte);
    
}

.links {
    display: block;
    text-align: center;
    padding-top: 90px;
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
}

.links li{
    /* color: var(--cor-fonte); */
    padding: 15px 0px;
}

a {
    color: var(--cor-fonte);
    text-decoration: none;
}

.btn {
    transition: ease-in-out .3s;            
    cursor: pointer;
}
.btn:hover {
    /* color: var(--cor-tercearia); */
    background-color: var(--cor-tercearia);
}


/*----------------------------------------*/
/* Principal                              */
/*----------------------------------------*/

.principal {
    width: 150%;
    height: 100vh;
    padding-left: 260px;
}

/*----------------------------------------*/
/* Home                                   */
/*----------------------------------------*/

.tabela{
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* height: 50vh; */
    margin: 5px;
}

/*----------------------------------------*/
/* Receitas                               */
/*----------------------------------------*/

/* #receitas {
    height: 100vh;
}

#receitas h2 {
    color: var(--cor-fonte);
    text-align: center;
    height: 15vh;
    font-size: 2.5rem;
    padding: 30px;
} */

h2{
    align-self: center;
}
/* #cardapio {
    height: 50vh;
}

#cardapio h2 {
    color: var(--cor-destaque);
    text-align: center;
    height: 20vh;
    font-size: 2.5rem;
    padding: 30px;
} */

table {
    height: 10vh;
    border-collapse: 0; 
    background-color: var(--cor-principal);
    table-layout: fixed;
    border: 2px solid var(--cor-principal);
    font-size: 1rem;   
}
thead th:nth-child(1) {
    width: 10%;
}
thead th:nth-child(2) {
    width: 40%;
}
thead th:nth-child(3) {
    width: 10%;
    text-wrap: nowrap;
}

thead th:nth-child(4) {
    width: 10%;
    text-wrap: nowrap;
}

thead th:nth-child(5) {
    width: 5%;
    text-wrap: nowrap;
}

thead th:nth-child(6) {
    width: 30%;
    text-wrap: nowrap;
}
thead {
    color: var(--cor-fonte-branco);
    text-wrap: nowrap;
}
th, td {
    padding: 1px;
    border: 1px solid var(--cor-fundo);
}
tbody td{
    color: var(--cor-preto);
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: var(--cor-tercearia);
}
tbody tr:nth-child(even) {
    background-color: var(--cor-fonte);
}

tfoot{
    color: var(--cor-fonte-branco);
    font-size: 2rem;
    text-align: center;
}


/*----------------------------------------*/
/* TELA LOGIN                             */
/*----------------------------------------*/

#login {
    height: 100vh;
}

#login h1 {
    color: var(--cor-fonte);
    text-align: center;
    height: 25vh;
    font-size: 3.5rem;
    padding: 60px;
    font-family: var(--fonte-titulo);
}

#login p {
    color: var(--cor-fonte);
    margin: 1px;
    height: 10vh;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.1%;
    font-family: var(--fonte-texto);
}

form div {
    display: flex;
    flex-direction: column;
    margin: 1px 30%;
}

form label {
    display: block;
    margin-left: 80px;
    font-size: 1.5rem;
    color: var(--cor-fonte-branco);
    font-family: var(--fonte-texto);
}

.imput {
    margin: 50px;
    border-radius: 50px;
    padding: 5px;
    height: 48px;
    font-size: 1.5rem;

}
textarea {
    margin: 10px;
    border: 2px solid var(--cor-preto);
    border-radius: 10px;
    padding: 1px 1px;
    height: 45px;
    font-size: 1.5rem;
    width: 70%;
}

.div-botao {
    display: flex;
    align-items: center;
    padding: 1px 1px;
    height: 45px;
    margin: 30px;
}

.botao {
    border: 2px solid var(--cor-preto);
    background-color: var(--cor-fonte);
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    color: var(--cor-preto);
    font-size: 1.5rem;
    width: 30%;
    font-family: var(--fonte-texto);
}

.botao:hover {
    background-color: var(--cor-secundaria);
}