@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Lato:wght@700&display=swap"); 
 
:root{
    --fonte-titulo: "Lato", sans-serif; 
    --fonte-texto: "Kalam", cursive; 

    --cor-principal: #112D4E; 
    --cor-secundaria: #3F72AF; 
    --cor-tercearia: #DBE2EF; 
    --cor-fonte: #F9F7F7; 

    --cor-preto: #000000; 
    --cor-fundo: linear-gradient(to bottom, var(--cor-secundaria), 70%, var(--cor-principal)); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-fonte);
}

/*-------------*/
/*Lateral*/
/*-------------*/

.lateral{
    width: 15%;
    height: 100vh;
    color: var(--cor-fonte-branco);
    text-align: center;
    position: fixed;
    background-color: var(--cor-fundo-lateral);
}

.logo{
    margin: 15px 0px;
    padding: 5px 0px;
    border-radius: 50%;
}

.lateral h1{
    color: var(--cor-fonte-branco);
    font-size: 2rem;
}

.lateral h4{
    color: var(--cor-fonte-secundaria);
}

hr{
    margin: 15px;
    border-top: 3px solid var(--cor-lateral-linha);
}